#about {
    height: 100vh;
    width: 100vw;
}
#about > *{
    margin-left: 15vw;
}
#aboutTitle{
    margin-top: 50px;
    font-size: 70px;
}
#aboutMain{
    display: flex;
    gap: 100px;
}
#aboutTextContainer{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 90px;
    border: 5px solid #bcbcbc;
    width: 600px;
    height: 300px;
    animation-name: aboutContainer;
    animation-duration: 1s;
    font-size: 25px;
    color: #fff;
}
@keyframes aboutContainer{
    from{
        border-radius: 40px;
        border: 1px solid #bcbcbc;
        width: 300px;
        height: 150px;
        font-size: 10px;
    }
    to{
        width: 600px;
        height: 300px;
        border-radius: 90px;
        font-size: 25px;
        border: 5px solid #bcbcbc;
    }
}
#about ul{
    background-color: #fff;
    padding: 50px;
    border-radius: 20%;
    border: 5px solid #000;
    margin-top: 30px;
    font-size: 30px;
    gap: 50px;
    display: flex;
    flex-direction: column;
}
#aboutCircle{
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background-color: #000;
    border: 15px solid #979797;
    margin-left: calc(100vw - 400px);
}
#skills{
    background-color: #fff;
    border-radius: 50%;
    border: 5px solid #979797;
    font-size: 90px;
    padding: 50px;
    display: inline;
    position: absolute;
    top: 155vh;
    left: 20vw;
    animation-name: skills;
    animation-duration: 1s;
}
@keyframes skills{
    from{
        left: 10vw;
        top: 160vh;
    }
    to{
        left: 20vw;
        top: 155vh;
    }
}
