#cards{
    display: grid;
    width: 800px;
    height: 500px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    align-items: center;
    justify-items: center;
    margin-top: 20px;
    animation-duration: 2s;
}
@keyframes cardsAnim {
    from{
        opacity: 50%;
    }
}
#cards > *{
    display: block;
    background-color: #ffffff;
    width: 200px;
    height: calc(100% - 10px);
    border: 3px #000c23 solid;
    border-radius: 10px;
    box-shadow: 5px 5px #000;
}
#card1{
    background-color: #1d6cfa;
}
#card2{
    background-color: #ffc039;
}
#card3{
    background-color: #5092ff;
}
#card4{
    background-color: #cf6d20;
}
.cardHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
    border-bottom: #000c23 solid 4px;
}
.card1Header{
    background-color: #002870;
}
.card2Header{
    background-color: #877300;
}
.card3Header{
    background-color: #002b87;
}
.card4Header{
    background-color: #873d00;
}
.cardTitle{
    font-size: 35px;
    text-align: center;
    color: #000;
}
.cardHeader > img {
    width: 100px;
    height: 100px;
}
#card1 > p{
    font-size: 18px;
    text-align: center;
}
@media (max-width: 1400px) {
    #cards{
        justify-items: start;
    }
}
@media (max-width: 800px) {
    #cards{
        width: 500px;
        height: 500px;
    }
}
@media (max-width: 550px) {
    #cards > *{
        height: 250px;
        width: 150px;
    }
    #cards{
        width: 400px;
        height: 60vh;
    }
}
@media (max-width: 400px) {
    #cards{
        width: 70vw;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        row-gap: 20px;
        align-items: center;
        justify-items: center;
        margin-top: 20px;
    }
    #cards > *{
        height: 100px;
        width: 100%;
    }
    .cardHeader{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 100%;
        border-right: #000c23 solid 4px;
        border-bottom: none;
    }
    .cardHeader > img {
        width: 60px;
        height: 60px;
    }
    .cardTitle{
        font-size: 30px;
        text-align: right;
        margin-top: 20px;
    }
    #card1 > p{
        display: none;
    }
    #cards > * {
        display: flex;
    }
}