#modal{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0;
    top: 0;
}
.modalDisplay{
    width: 600px;
    height: 300px;
    border-radius: 100px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    overflow: hidden;
    background: linear-gradient(to right, #f4f3f3, #e4e2db);
}
.modalDisplay1{
    border: 6px solid #00153e;
}
.modalDisplay2{
    border: 6px solid #4c0800;
}
.modalDisplay3{
    border: 6px solid #4c4000;
}
#modal img{
    background-color: #e4e2db;
    border-radius: 50%;
    padding: 10px;
    border: 5px solid #000;
    top: calc(50vh - 200px);
    left: calc(50vw - 50px);
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 1;
}
#modalBody{
    height: 100px;
    margin: 0;
    overflow: hidden;
}
#modalBody a, #modalBody h1{
    font-size: 30px;
    color: #000;
}
#modalFooter{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#modalFooter form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.follow{
    margin-right: 250px;
    display: block;
    position: fixed;
    width: 200px;
    height: 100px;
    border-radius: 20px;
    outline: none;
    border: 3px #000 solid;
    background-color: #fff;
    cursor: pointer;
    overflow-x: hidden;
    color: #fff;
    font-size: 30px;
}
.follow1{
    background-color: #00153e;
}
.follow1:hover{
    background-color: #000c23;
}
.follow2{
    background-color: #4c0800;
}
.follow2:hover{
     background-color: #270400;
}
.follow3{
    background-color: #4c4000;
}
.follow3:hover{
    background-color: #332b00;
}
.close{
    margin-left: 250px;
    display: block;
    position: fixed;
    width: 200px;
    height: 100px;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    overflow-x: hidden;
    border: 3px solid #930000;
    background-color: #ff5959;
    font-size: 30px;
    color: #fff;
}
.close:hover{
    background-color: #600000;
}
.close3{
    margin-right: 250px;
}

/*in future union with topic.css*/
@media (max-width: 800px) {
    .modalDisplay {
        width: 500px;
        height: 300px;
    }
    #modalBody a, #modalBody h1{
        font-size: 25px;
    }
    #modalFooter button, #modalFooter form{
        width: 160px;
        height: 80px;
    }
}