@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
body {
    background: linear-gradient(to right, #f4f3f3, #e4e2db);
    overflow-x: hidden;
}
#topic{
    height: 100vh;
    width: 100vw;
}
#topOval{
    position: absolute;
    top: -20vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 43, 0.96);
    width: 200vw;
    height: 500px;
    border-radius: 50%;
}

#photoOval, #emptyOval{
    text-align: center;
    position: absolute;
    left: 50%;
    top: -15vh;
    transform: translateX(-50%);
    border-radius: 50%;
    width: 350px;
    height: 500px;
    background-color: #0039a3;
    background-image: url("../img/ovalFon.jpeg");
    background-size: 120%;
    background-repeat: no-repeat;
}
#emptyOval{
    background-image: none;
    background-color: #fff;
    animation-name: moveOval;
    animation-duration: 1s;
    top: -13vh
}
@keyframes moveOval{
    from{
        top: -15vh;
    }
}

header div{
    display: block;
    margin-top: 400px;
    text-align: center;
    line-height: 120px;
    height: 30vh;
    margin-bottom: 0;
}
header div h2{
    color: #4a4a4a;
    font-size: 90px;
}
header div h3{
    font-size: 50px;
    color: #caac08;
}

header hr{
    position: relative;
    width: 25vw;
    left: 50%;
    transform: translateX(-50%);
    animation-duration: 3s;
    animation-name: lineExpansion;
}
@keyframes lineExpansion {
    from{
        width: 5vw;
    }
}

#contacts{
    width: 100vw;
    height: 100px;
    font-size: 40px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 7vw;
    animation-name: gap;
    animation-duration: 2s;
}
#contacts img{
    cursor: pointer;
    width: 100px;
    height: 100px;
}
@keyframes gap {
    from{
        gap: 3vw;
    }
}

@media (max-width: 800px) {
    #contacts{
        height: 25vh;
    }
    header div h2{
        font-size: 70px;
        line-height: 100px;
    }
    header div h3{
        font-size: 40px;
    }
    #contacts{
        margin-top: 50px;
    }
    #contacts img{
        width: 80px;
        height: 80px;
    }
}
@media (max-width: 600px) {
    #contacts{
        overflow: hidden;
        height: 20vh;
    }
    header div h2{
        font-size: 50px;
        line-height: 60px;
        overflow: hidden;
    }
    header div h3{
        font-size: 30px;
    }
    #contacts{
        margin-top: 50px;
    }
    #contacts img{
        width: 70px;
        height: 70px;
    }
}